{% extends "sidebar.html" %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: My-Task:: Departments</title>
    <!-- plugin css file  -->
    <link rel="stylesheet" href="../static/assets/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="../static/assets/plugin/datatables/dataTables.bootstrap5.min.css">
    <!-- project css file  -->
    <link rel="stylesheet" href="../static/assets/css/my-task.style.css">
</head>
<body>
<div class="theme-indigo">
    {% block body %}
    <div class="main px-lg-4 px-md-4">
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0">老师学期课表</h3>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#apply"><i class="icofont-plus-circle me-2 fs-6"></i>提交申请</button>
                            </div>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" class="btn btn-dark btn-set-task w-sm-100" data-bs-toggle="modal" data-bs-target="#showapply"><i class="icofont-plus-circle me-2 fs-6"></i>查看申请</button>
                            </div>
                            <div class="col-auto d-flex w-sm-100">
                                <button type="button" id="back" class="btn btn-dark w-sm-100"><i class="icofont-close-line me-2 fs-6"></i>返回</button>
                            </div>

                        </div>
                    </div>
                </div> <!-- Row end  -->
                <div class="row clearfix g-3">
                  <div class="col-sm-12">
                        <div class="card mb-3">
                            <div class="card-body">
                                <table id="Class_Schedule" class="table table-hover borderless mb-0" style="width:100%">
                                    <thead>
                                        <tr style="">
                                            <th style="width:100px">Period</th>
                                            <th style="width:150px">Mon</th>
                                            <th style="width:150px">Tue</th>
                                            <th style="width:150px">Wen</th>
                                            <th style="width:150px">Thu</th>
                                            <th style="width:150px">Fri</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(8) %}
                                        <tr>
                                            <td><span class="fw-bold">{{ Courses[i][0] }}</span></td>
                                            {% for j in range(1, 6) %}
                                                {% if Courses[i][j] != ' ' %}
                                                    <td class="table-primary">{{ Courses[i][j] }}</td>
                                                {% else %}
                                                    <td>{{ Courses[i][j] }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                </div><!-- Row End -->
            </div>
        </div>
    </div>

        <div class="modal fade" id="showapply" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="depeditLabel">申请</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput11111" class="form-label">申请事项</label>
                            <input type="text" class="form-control" name="classname" value='{{ application.name }}' readonly = true>
                        </div>


                        <div class="mb-3">
                            <label for="exampleFormControlInput11111" class="form-label">申请状态</label>
                            <input type="text" class="form-control" name="reason" value='{{ application.status }}' readonly = true>
                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
            </div>
        </div>
        </div>

         <div class="modal fade" id="apply" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
             <form method = "post" action="{{ url_for('classarrange.connnect') }}">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="addholidayLabel">提交申请</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-xl-12">
                        <label for="exampleFormControlInput2778" class="form-label">申请事项</label>
                        <input type="text" class="form-control" name="apply">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
             </form>
            </div>
        </div>
    <script src="../static/assets/bundles/libscripts.bundle.js"></script>
    <script src="../static/assets/bundles/dataTables.bundle.js"></script>
    <script src="../static/assets/js/template.js"></script>
    <script>
        $(document).ready(function() {
            $('#back').on('click', function(){
                location.href = "/department";
            } );
        });
    </script>
    {% endblock %}
</div>
</body>
</html>