<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: My-Task:: Departments</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- plugin css file  -->
    <link rel="stylesheet" href="../static/assets/plugin/datatables/responsive.dataTables.min.css">
    <link rel="stylesheet" href="../static/assets/plugin/datatables/dataTables.bootstrap5.min.css">
    <!-- project css file  -->
    <link rel="stylesheet" href="../static/assets/css/my-task.style.css">
</head>
<body>

<div id="mytask-layout" class="theme-indigo">


    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">

        <div class="d-flex flex-column h-100">
            <a href={{ url_for('login.login' )}} class="mb-0 brand-icon">
                <span class="logo-icon">
                    <svg width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </span>
                <span class="logo-text">教务管理系统</span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#info-management" href="#">
                        <i class="icofont-home fs-5"></i> <span>信息管理</span> <span
                            class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="info-management">
                        {% if current_user.is_authenticated and current_user.status =="管理员" %}
                            <li><a class="ms-link" href={{ url_for('messagearrange.personal_center') }}>
                                <span>个人中心</span></a></li>
                            <li><a class="ms-link" href={{ url_for('messagearrange.course_search') }}> <span>课程搜索</span></a>
                            </li>
                            <li><a class="ms-link" href={{ url_for('messagearrange.user_search') }}>
                                <span>用户搜索</span></a></li>
                        {% elif current_user.is_authenticated and current_user.status =="教师" %}
                            <li><a class="ms-link" href={{ url_for('messagearrange.course_search') }}> <span>课程搜索</span></a>
                            </li>
                            <li><a class="ms-link" href={{ url_for('messagearrange.personal_center') }}>
                                <span>个人中心</span></a></li>
                        {% elif current_user.is_authenticated %}
                            <li><a class="ms-link" href={{ url_for('messagearrange.personal_center') }}>
                                <span>个人中心</span></a></li>
                        {% endif %}
                    </ul>
                </li>

                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#course-management" href="#">
                        <i class="icofont-home fs-5"></i> <span>课程安排</span> <span

                            class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse" id="course-management">
                        <li><a class="ms-link" href="ClassArrange/index.html"> <span></span></a></li>
                        {% if current_user.is_authenticated and current_user.status =="管理员" %}
                            <li><a class="ms-link" href={{ url_for('classarrange.application') }}> <span>申请处理</span></a>
                            </li>
                            <li><a class="ms-link" href={{ url_for('classarrange.classroomarrange') }}>
                                <span>教学资源管理</span></a></li>
                            <li><a class="ms-link" href={{ url_for('classarrange.department') }}> <span>课程管理</span></a>
                            </li>
                        {% elif current_user.is_authenticated and current_user.status =="教师" %}
                            <li><a class="ms-link" href={{ url_for('classarrange.classroomarrange') }}>
                                <span>教室查看</span></a></li>
                            <li><a class="ms-link" href={{ url_for('classarrange.TeacherCourse') }}> <span>教师主界面</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#course-choose" href="#">
                        <i class="icofont-home fs-5"></i> <span>课程选择</span> <span
                            class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    {#                    <ul class="sub-menu collapse" id="dashboard-Components">#}
                    {#                        <li class="collapsed">#}
                    {#                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="#">#}
                    {#                        <i class="icofont-home fs-5"></i> <span>第三模块</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>#}
                    {#                    <!-- Menu: Sub menu ul -->#}
                    {#                    <ul class="sub-menu collapse" id="dashboard-Components">#}
                    <ul class="sub-menu collapse" id="course-choose">
                        {% if current_user.is_authenticated and current_user.status == '教师' %}
                            <li><a class="ms-link" href="{{ url_for('selectcourse.myclass') }}"> <span>选课信息查看</span></a>
                            </li>
                        {% elif current_user.is_authenticated and current_user.status == '学生' %}
                            <li><a class="ms-link" href="{{ url_for('selectcourse.inquiry_courses') }}">
                                <span>自主选课</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.inquiry_major') }}"> <span>培养方案</span></a>
                            </li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.BEappManage') }}">
                                <span>补选课程</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.mycurriculum') }}"> <span>课表显示</span></a>
                            </li>
                        {% elif current_user.is_authenticated and  current_user.status == '管理员' %}
                            <li><a class="ms-link" href="{{ url_for('selectcourse.changeSelCoursePeriod') }}"> <span>选课时间管理</span></a>
                            </li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.changeSelCoursePeriodBE') }}"> <span>补选时间管理</span></a>
                            </li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.admin_sel_course') }}">
                                <span>手动选课</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('selectcourse.admin_del_course') }}">
                                <span>手动退课</span></a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#online-test" href="#">
                        <i class="icofont-home fs-5"></i> <span>在线测试</span> <span
                            class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>

                    <ul class="sub-menu collapse" id="online-test"> <!-- 在线测试 -->
                        {% if current_user.is_authenticated and (current_user.status == '教师' or current_user.status == '管理员') %}

                            <li><a class="ms-link" href="{{ url_for('exam.problem.home') }}"> <span>题库管理</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('exam.manage_exam.home') }}"> <span>考试添加</span></a>
                            </li>
                            <li><a class="ms-link" href="{{ url_for('exam.teacher.home') }}"> <span>考试管理</span></a></li>

                        {% elif current_user.is_authenticated and current_user.status == '学生' %}

                            <li><a class="ms-link" href="{{ url_for('exam.view_exam.home') }}"><span>考试查看</span></a>
                            </li>

                        {% endif %}
                    </ul>
                </li>
                <li class="collapsed">
                    <a class="m-link" data-bs-toggle="collapse" data-bs-target="#score-record" href="#">
                        <i class="icofont-home fs-5"></i> <span>课程资源共享与成绩登记</span> <span
                            class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>

                    <ul class="sub-menu collapse" id="score-record"> <!-- 在线测试 -->
                        {% if current_user.is_authenticated and current_user.status == '学生'   %}

                            <li><a class="ms-link" href="{{ url_for('resourceandscore.student_HW') }}"> <span>作业提交</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.score_analysis') }}"> <span>成绩查询</span></a>
                            </li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.student_analysis') }}"> <span>成绩分析</span></a></li>
                        {% elif current_user.is_authenticated and current_user.status == '教师' %}
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.resource_management') }}"> <span>资源分享</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.teacher_HW') }}"><span>作业布置</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.teacher_marks') }}"><span>成绩录入</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.score_analysisT') }}"> <span>成绩分析</span></a></li>
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.score_request') }}"> <span>成绩修改</span></a></li>
                        {% elif current_user.is_authenticated and current_user.status == '管理员' %}
                            <li><a class="ms-link" href="{{ url_for('resourceandscore.score_request') }}"> <span>成绩修改</span></a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>


            <!-- Theme: Switch Theme -->
            <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-switch">
                        <input class="form-check-input" type="checkbox" id="theme-switch">
                        <label class="form-check-label" for="theme-switch">暗黑模式</label>
                    </div>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-rtl">
                        <input class="form-check-input" type="checkbox" id="theme-rtl">
                        <label class="form-check-label" for="theme-rtl">侧栏位置</label>
                    </div>
                </li>
            </ul>
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>

    <!-- Body: Header -->
    <div class="main px-lg-4 px-md-4">

        <div class="header">
            <nav class="navbar py-4">
                <div class="container-xxl">

                    <!-- header rightbar icon -->
                    <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">

                        <div class="dropdown notifications zindex-popover">
                            <a class="nav-link dropdown-toggle pulse" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="icofont-alarm fs-5"></i>
                                {#                                    {% if true %}#}
                                {#                                        <span class="pulse-ring"> </span>#}
                                <span class="pulse"> </span>
                                {#                                    {% endif %}#}
                            </a>
                            <div id="NotificationsDiv"
                                 class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-sm-end p-0 m-0">
                                <div class="card border-0 w380">
                                    <div class="card-header border-0 p-3">
                                        <h5 class="mb-0 font-weight-light d-flex justify-content-between">
                                            <span>消息通知</span>
                                            <span class="btn">number</span>
                                        </h5>

                                    </div>


                                    <a class="card-footer text-center border-top-0" href="#"> View all notifications</a>
                                </div>
                            </div>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center zindex-popover">

                                <div class="u-info me-2">
                                    {#                                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">{{ admin.name }}</span></p>#}
                                    <p class="mb-0 text-end line-height-sm "><span
                                            class="font-weight-bold">{{ current_user.name }}</span></p>

                                    <small>{{ current_user.status }}</small>

                                </div>

                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button"
                                   data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail"
                                         src="../static/assets/images/profile_av.png" alt="profile">
                                </a>

                                <a href={{ url_for('login.logout') }}>
                                    注销
                                </a>
                                <div class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                                <img class="avatar rounded-circle"
                                                     src="../static/assets/images/profile_av.png" alt="profile">
                                                <div class="flex-fill ms-3">
                                                    <p class="mb-0"><span class="font-weight-bold">Dylan Hunter</span>
                                                    </p>
                                                    <small class="">Dylan.hunter@gmail.com</small>
                                                </div>
                                            </div>

                                            <div>
                                                <hr class="dropdown-divider border-dark">
                                            </div>
                                        </div>
                                        <div class="list-group m-2 ">
                                            <a href="../static/ui-elements/auth-signin.html"
                                               class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-logout fs-6 me-3"></i>Signout</a>
                                            <div>
                                                <hr class="dropdown-divider border-dark">
                                            </div>
                                            <a href="../static/ui-elements/auth-signup.html"
                                               class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-contact-add fs-5 me-3"></i>Add personal account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endif %}

                    <!-- menu toggler -->
                    <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button"
                            data-bs-toggle="collapse" data-bs-target="#mainHeader">
                        <span class="fa fa-bars"></span>
                    </button>

                    <!-- main menu Search-->
                    {#                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">#}
                    {#                            <div class="input-group flex-nowrap input-group-lg">#}
                    {#                                <button type="button" class="input-group-text" id="addon-wrapping"><i class="fa fa-search"></i></button>#}
                    {#                                <input type="search" class="form-control" placeholder="搜索" aria-label="search" aria-describedby="addon-wrapping">#}
                    {#                                <button type="button" class="input-group-text add-member-top" id="addon-wrappingone" data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button>#}
                    {#                            </div>#}
                    {#                        </div>#}

                </div>

            </nav>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info alert-dismissible" aria-hidden="true">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
    </div>
</div>


<!-- Jquery Core Js -->
<script src="../static/assets/bundles/libscripts.bundle.js"></script>

<!-- Plugin Js-->
<script src="../static/assets/bundles/dataTables.bundle.js"></script>

<!-- Jquery Page Js -->
<script src="../static/assets/js/template.js"></script>
<script>

    $(document).ready(function () {
        $('#myProjectTable')
            .addClass('nowrap')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {targets: [-1, -3], className: 'dt-body-right'}
                ]
            });
        $('#myProjectTable1')
            .addClass('nowrap')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {targets: [-1, -3], className: 'dt-body-right'}
                ]
            });

    });

</script>


</body>
</html>