{% extends "sidebar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的课程</title>
</head>
<body>
{% block body %}


    <div id="Spring">
        <h3>学生课程表</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="Class_Schedule_Spring" class="table table-hover borderless mb-0" style="width:100%;text-align: center">
                            <thead>
                                <tr style="">
                                    <th style="width:100px">节次</th>
                                    <th style="width:150px">星期一</th>
                                    <th style="width:150px">星期二</th>
                                    <th style="width:150px">星期三</th>
                                    <th style="width:150px">星期四</th>
                                    <th style="width:150px">星期五</th>
                                    <th style="width:150px">星期六</th>
                                    <th style="width:150px">星期日</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0, 13) %}
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        {% for j in range (0, 7) %}
                                            {% if timetable[j][i] != ' ' %}
                                                <td>{{ timetable[j][i] }}</td>
                                            {% else %}
                                                <td>{{ timetable[j][i] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix g-3">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-info alert-dismissible" aria-hidden="true" >
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                        </div>
                    {% endfor %}
                    <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                        <thead>
                            <tr>
                                <th>课程ID</th>
                                <th>课程名称</th>
                                <th>课程时间</th>
                                <th>课程容量</th>
                                <th scope="col" class="text-center">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if courses %}
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.cid }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>
                                            {{ days[course.time[1]] }}
                                                    {% if course.time[2] == "1" %}
                                                        1 ~ 2
                                                    {% elif course.time[2] == "2" %}
                                                        3 ~ 5
                                                    {% elif course.time[2] == "3" %}
                                                        6 ~ 8
                                                    {% elif course.time[2] == "4" %}
                                                        9 ~ 10
                                                    {% else %}
                                                        11 ~ 13
                                                    {% endif %}
                                                    {% if course.time[7] != "0" %}
                                                        {{ days[course.time[8]] }}
                                                        {% if course.time[9] == "1" %}
                                                            1 ~ 2
                                                        {% elif course.time[9] == "2" %}
                                                            3 ~ 5
                                                        {% elif course.time[9] == "3" %}
                                                            6 ~ 8
                                                        {% elif course.time[9] == "4" %}
                                                            9 ~ 10
                                                        {% else %}
                                                            11 ~ 13
                                                        {% endif %}
                                                    {% endif %}
                                        </td>
                                        <td>
                                            {{ course.curr_capacity }}
                                            /
                                            {{ course.capacity }}
                                        </td>
                                        <td class="text-center">
                                            <a style = "color: #FFFFFF" class="btn btn-danger"  href="{{ url_for('selectcourse.del_course2',course_id=course.cid) }}">退课</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                <td colspan="7">当前没有任何内容</td>
                                </tr>
                            {% endif %}
                        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>