{% extends "sidebar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的课程</title>
</head>
<body>
{% block body %}
    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'Spring')">春学期</button>
        <button class="tablinks" onclick="openCity(event, 'Summer')">夏学期</button>
        <button class="tablinks" onclick="openCity(event, 'Fall')">秋学期</button>
        <button class="tablinks" onclick="openCity(event, 'Winter')">冬学期</button>
        <button class="tablinks" onclick="reset()">清除</button>
    </div>

    <div id="Spring" class="tabcontent">
        <h3>春学期</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="Class_Schedule_Spring" class="table table-hover borderless mb-0" style="width:100%;text-align: center">
                            <thead>
                                <tr style="">
                                    <th style="width:100px">节次</th>
                                    <th style="width:150px">星期一</th>
                                    <th style="width:150px">星期二</th>
                                    <th style="width:150px">星期三</th>
                                    <th style="width:150px">星期四</th>
                                    <th style="width:150px">星期五</th>
                                    <th style="width:150px">星期六</th>
                                    <th style="width:150px">星期日</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0, 13) %}
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        {% for j in range (0, 7) %}
                                            {% if timetable[0][j][i] != ' ' %}
                                                <td>{{ timetable[0][j][i] }}</td>
                                            {% else %}
                                                <td>{{ timetable[0][j][i] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Summer" class="tabcontent">
        <h3>夏学期</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="Class_Schedule_Summer" class="table table-hover borderless mb-0" style="width:100%;text-align: center">
                            <thead>
                                <tr style="">
                                    <th style="width:100px">节次</th>
                                    <th style="width:150px">星期一</th>
                                    <th style="width:150px">星期二</th>
                                    <th style="width:150px">星期三</th>
                                    <th style="width:150px">星期四</th>
                                    <th style="width:150px">星期五</th>
                                    <th style="width:150px">星期六</th>
                                    <th style="width:150px">星期日</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0, 13) %}
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    {% for j in range (0, 7) %}
                                        {% if timetable[1][j][i] != ' ' %}
                                            <td>{{ timetable[1][j][i] }}</td>
                                        {% else %}
                                            <td>{{ timetable[1][j][i] }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Fall" class="tabcontent">
        <h3>秋学期</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="Class_Schedule_Fall" class="table table-hover borderless mb-0" style="width:100%;text-align: center">
                            <thead>
                                <tr style="">
                                    <th style="width:100px">节次</th>
                                    <th style="width:150px">星期一</th>
                                    <th style="width:150px">星期二</th>
                                    <th style="width:150px">星期三</th>
                                    <th style="width:150px">星期四</th>
                                    <th style="width:150px">星期五</th>
                                    <th style="width:150px">星期六</th>
                                    <th style="width:150px">星期日</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0, 13) %}
                                    <tr>
                                        <td>{{ i + 1 }}</td>
                                        {% for j in range (0, 7) %}
                                            {% if timetable[2][j][i] != ' ' %}
                                                <td>{{ timetable[2][j][i] }}</td>
                                            {% else %}
                                                <td>{{ timetable[2][j][i] }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Winter" class="tabcontent">
        <h3>冬学期</h3>
        <div class="row clearfix g-3">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <table id="Class_Schedule_Winter" class="table table-hover borderless mb-0" style="width:100%;text-align: center">
                            <thead>
                                <tr style="">
                                    <th style="width:100px">节次</th>
                                    <th style="width:150px">星期一</th>
                                    <th style="width:150px">星期二</th>
                                    <th style="width:150px">星期三</th>
                                    <th style="width:150px">星期四</th>
                                    <th style="width:150px">星期五</th>
                                    <th style="width:150px">星期六</th>
                                    <th style="width:150px">星期日</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in range(0, 13) %}
                                    <tr>
                                    <td>{{ i + 1 }}</td>
                                    {% for j in range (0, 7) %}
                                        {% if timetable[3][j][i] != ' ' %}
                                            <td>{{ timetable[3][j][i] }}</td>
                                        {% else %}
                                            <td>{{ timetable[3][j][i] }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var i, tabcontent;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++)
        tabcontent[i].style.display = "none";
    </script>

    <div class="row clearfix g-3">
        <div class="col-sm-12">
            <div class="card mb-3">
                <div class="card-body">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-info alert-dismissible" aria-hidden="true" >
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        {{ message }}
                        </div>
                    {% endfor %}
                    <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                        <thead>
                            <tr>
                                <th>课程ID</th>
                                <th>课程名称</th>
                                <th>学期</th>
                                <th>课程时间</th>
                                <th>课程容量</th>
                                <th scope="col" class="text-center">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if courses %}
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.id }}</td>
                                        <td>{{ course.name }}</td>
                                        <td>
                                            {% if course.time[2:4] == "11" %}
                                                春
                                            {% elif course.time[2:4] == "12" %}
                                                春夏
                                            {% elif course.time[2:4] == "22" %}
                                                夏
                                            {% elif course.time[2:4] == "33" %}
                                                秋
                                            {% elif course.time[2:4] == "34" %}
                                                秋冬
                                            {% else %}
                                                冬
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ days[course.time[4]] }}

                                            {% if course.time[5].isalpha() %}
                                                {{ time[course.time[5].upper()] }}
                                            {% else %}
                                                {{ course.time[5] }}
                                            {% endif %}
                                            ~
                                            {% if course.time[6].isalpha() %}
                                                {{ time[course.time[6].upper()] }}
                                            {% else %}
                                                {{ course.time[6] }}
                                            {% endif %}

                                            {% if course.time[4:7] != course.time[7:] %}
                                                {{ days[course.time[7]] }}

                                                {% if course.time[8].isalpha() %}
                                                    {{ time[course.time[8].upper()] }}
                                                {% else %}
                                                    {{ course.time[8] }}
                                                {% endif %}
                                                ~
                                                {% if course.time[9].isalpha() %}
                                                    {{ time[course.time[9].upper()] }}
                                                {% else %}
                                                    {{ course.time[9] }}
                                                {% endif %}

                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ course.curr_capacity }}
                                            /
                                            {{ course.max_capacity }}
                                        </td>
                                        <td class="text-center">
                                            <a style = "color: #FFFFFF" class="btn btn-danger"  href="{{ url_for('del_course2',course_id=course.id) }}">退课</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                <td colspan="7">当前没有任何内容</td>
                                </tr>
                            {% endif %}
                        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function reset ()
        {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++)
                tabcontent[i].style.display = "none";
        }
        function openCity(evt, cityName)
        {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++)
                    tabcontent[i].style.display = "none";

              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++)
                    tablinks[i].className = tablinks[i].className.replace(" active", "");

              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
        }
    </script>
{% endblock %}
</body>
</html>