{% extends "sidebar.html" %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>:: My-Task:: Employee Profile </title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"> <!-- Favicon-->
    <!-- plugin css file  -->
    <link rel="stylesheet" href="../../static/assets/plugin/nestable/jquery-nestable.css"/>
    <link rel="stylesheet" href="../../static/assets/css/my-task.style.css">
</head>
<body>

<div id="mytask-layout" class="theme-indigo">
{% block body %}
    <!-- sidebar -->
    <div class="sidebar px-4 py-4 py-md-5 me-0">
        <div class="d-flex flex-column h-100">
            <a href="index.html" class="mb-0 brand-icon">
                <span class="logo-icon">
                    <svg  width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </span>
                <span class="logo-text">教务管理系统</span>
            </a>
            <!-- Menu: main ul -->
            <ul class="menu-list flex-grow-1 mt-3">
                <li class="collapsed">
                    <a class="m-link active" data-bs-toggle="collapse" data-bs-target="#emp-Components" href="#"><i
                            class="icofont-users-alt-5"></i> <span>信息管理</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                    <!-- Menu: Sub menu ul -->
                    <ul class="sub-menu collapse show" id="emp-Components">
                        <li><a class="ms-link" href="personal-center.html"> <span>个人中心</span></a></li>
                        <li><a class="ms-link active" href="course-search.html"> <span>课程搜索</span></a></li>
                        <li><a class="ms-link" href="user-search.html"> <span>用户搜索</span></a></li>
                    </ul>
                </li>
            </ul>

            <!-- Theme: Switch Theme -->
            <ul class="list-unstyled mb-0">
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-switch">
                        <input class="form-check-input" type="checkbox" id="theme-switch">
                        <label class="form-check-label" for="theme-switch">深色模式</label>
                    </div>
                </li>
                <li class="d-flex align-items-center justify-content-center">
                    <div class="form-check form-switch theme-rtl">
                        <input class="form-check-input" type="checkbox" id="theme-rtl">
                        <label class="form-check-label" for="theme-rtl">侧栏位置</label>
                    </div>
                </li>
            </ul>
            <!-- Menu: menu collepce btn -->
            <button type="button" class="btn btn-link sidebar-mini-btn text-light">
                <span class="ms-2"><i class="icofont-bubble-right"></i></span>
            </button>
        </div>
    </div>

    <!-- main body area -->
    <div class="main px-lg-4 px-md-4">

        <!-- Body: Body -->
        <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card border-0 mb-4 no-bg">
                            <div class="card-header py-3 px-0 d-flex align-items-center  justify-content-between border-bottom">
                                <h3 class=" fw-bold flex-fill mb-0">课程信息</h3>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->
                <div class="row g-3">
                    <div class="col-xl-8 col-lg-12 col-md-12">
                        <div class="card teacher-card  mb-3">
                            <div class="card-body  d-flex teacher-fulldeatil">
                                <div class="profile-teacher pe-xl-4 pe-md-2 pe-sm-4 pe-0 text-center w220 mx-sm-0 mx-auto">
                                    <a href="#">
                                        <img src="../static/assets/images/lg/avatar3.jpg" alt="" class="avatar xl rounded-circle img-thumbnail shadow-sm">
                                    </a>
                                    <div class="about-info d-flex align-items-center mt-3 justify-content-center flex-column">
                                        <h6 class="mb-0 fw-bold d-block fs-6">{{course.instructor}}</h6>
                                        <span class="text-muted small">教师</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="fw-bold  py-3 mb-3">课程详细信息</h6>
                        <div class="row g-3">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-24">
                                <div class="card">

                                    <div class="card-body">
                                        <ul class="list-unstyled mb-0">
                                            <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">课程名</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.name}}</span>
                                                </div>
                                            </li>
                                            <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">课程编号</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.cid}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">课程类型</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.type}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">任课教师</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.instructor}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">学分</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.credit}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">上课时间</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.time}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">教室</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.classroom}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">容量</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.capacity}}</span>
                                                </div>
                                             </li>
                                             <li class="row flex-wrap mb-3">
                                                <div class="col-6">
                                                    <span class="fw-bold">课程描述</span>
                                                </div>
                                                <div class="col-6">
                                                    <span class="text-muted">{{course.description}}</span>
                                                </div>
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- Row End -->

            </div>
        </div>

        <!-- Modal Members-->
        <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="addUserLabel">Employee Invitation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="inviteby_email">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="exampleInputEmail1">
                            <button class="btn btn-dark" type="button" id="button-addon2">Sent</button>
                        </div>
                    </div>
                    <div class="members_list">
                        <h6 class="fw-bold ">Employee </h6>
                        <ul class="list-unstyled list-group list-group-custom list-group-flush mb-0">
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="../static/assets/images/xs/avatar2.jpg" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Rachel Carr(you)</h6>
                                        <span class="text-muted">rachel.carr@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <span class="members-role ">Admin</span>
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icofont-ui-settings  fs-6"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                              <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="../static/assets/images/xs/avatar3.jpg" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Lucas Baker<a href="#" class="link-secondary ms-2">(Resend invitation)</a></h6>
                                        <span class="text-muted">lucas.baker@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Members
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li>
                                                  <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>

                                                    <span>All operations permission</span>
                                                   </a>

                                                </li>
                                                <li>
                                                     <a class="dropdown-item" href="#">
                                                        <i class="fs-6 p-2 me-1"></i>
                                                           <span>Only Invite & manage team</span>
                                                       </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="icofont-ui-settings  fs-6"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Delete Member</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item py-3 text-center text-md-start">
                                <div class="d-flex align-items-center flex-column flex-sm-column flex-md-row">
                                    <div class="no-thumbnail mb-2 mb-md-0">
                                        <img class="avatar lg rounded-circle" src="../static/assets/images/xs/avatar8.jpg" alt="">
                                    </div>
                                    <div class="flex-fill ms-3 text-truncate">
                                        <h6 class="mb-0  fw-bold">Una Coleman</h6>
                                        <span class="text-muted">una.coleman@gmail.com</span>
                                    </div>
                                    <div class="members-action">
                                        <div class="btn-group">
                                            <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Members
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-end">
                                              <li>
                                                  <a class="dropdown-item" href="#">
                                                    <i class="icofont-check-circled"></i>

                                                    <span>All operations permission</span>
                                                   </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <i class="fs-6 p-2 me-1"></i>
                                                           <span>Only Invite & manage team</span>
                                                       </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="btn-group">
                                            <div class="btn-group">
                                                <button type="button" class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="icofont-ui-settings  fs-6"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-ui-password fs-6 me-2"></i>ResetPassword</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-chart-line fs-6 me-2"></i>ActivityReport</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-delete-alt fs-6 me-2"></i>Suspend member</a></li>
                                                  <li><a class="dropdown-item" href="#"><i class="icofont-not-allowed fs-6 me-2"></i>Delete Member</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Edit Employee Personal Info-->
        <div class="modal fade" id="edit1" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title  fw-bold" id="edit1Label">基本信息</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="deadline-form">
                            <form>
                                <div class="row g-3 mb-3">
                                    <div class="col">
                                        <label for="exampleFormControlInput877" class="form-label">姓名</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput877" value="张三">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput977" class="form-label">性别</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput977" value="男">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput9777" class="form-label">学工号</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput9777" value="3190105031">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput9777" class="form-label">生日</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput9777" value="2001.02.23">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput9777" class="form-label">民族</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput9777" value="汉族">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput9777" class="form-label">籍贯</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput9777" value="湖南长沙">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                <div class="col">
                                    <label for="exampleFormControlInput9777" class="form-label">电子邮箱</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput9777" value="3190105031@zju.edu.cn">
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlInput9777" class="form-label">电话</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput9777" value="19817864502">
                                </div>
                                <div class="col">
                                    <label for="exampleFormControlInput9777" class="form-label">身份证号</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput9777" value="430181200102232671">
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                        <button type="button" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit Bank Personal Info-->
        <div class="modal fade" id="edit2" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title  fw-bold" id="edit2Label"> 其他信息</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="deadline-form">
                            <form>
                                <div class="row g-3 mb-3">
                                    <div class="col">
                                        <label for="exampleFormControlInput8775" class="form-label">院系</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput8775" value="软件工程学院">
                                    </div>
                                    <div class="col">
                                        <label for="exampleFormControlInput977" class="form-label">专业</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput9775" value="软件工程">
                                    </div>
                                </div>
                                <div class="row g-3 mb-3">
                                <div class="col">
                                    <label for="exampleFormControlInput97775" class="form-label">班级</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput97775" value="软工1902">
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Done</button>
                        <button type="button" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Jquery Core Js -->
<script src="../../static/assets/bundles/libscripts.bundle.js"></script>

<!-- Jquery Page Js -->
<script src="../../static/assets/js/template.js"></script>
{% endblock %}
</body>
</html>

